{% extends 'base.html' %}

{% block title %}Register | Medicine Tracker{% endblock %}

{% block content %}
<div class="card">
    <h2 class="text-center mb-3">Create an Account</h2>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="error">
                {{ field.errors }}
            </div>
            {% endif %}
            {% if field.help_text %}
            <small class="text-light">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <div class="text-center">
            <button type="submit" class="btn">Register</button>
        </div>
    </form>
    <p class="text-center mt-3">Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
</div>
{% endblock %}
